:root {
  --video_height: 25vw;
	--text_height: 10vw;
	--div_padding_x: 1.5vw;
  --div_padding_y: 1.5vh;
  --img_dims:10vw;
  --inv_img_dims:80vw;


  --header_color: 255, 255, 255;

	--accent_color_1: 0, 184, 148;
  --accent_color_1_text: 255, 255, 255;

  --accent_color_2: 200, 216, 217;

  --accent_color_dark_1:175, 191, 192;


  --font: Noto Sans, Charcoal, sans-serif;

  /* Responses variables */
  --question_text_size: 1.25em;
}
